<div class="footer">
    <!-- © 2023 | Made with ❤️ by KARTIK ORAON -->
    © 2023 |
    <span class="auto-type"></span>
</div>

<div class="box2">

</div>
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
<script src="/js/lists.js"></script>
</body>
</html>